---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'

import { Image } from 'astro:assets'
import astro from '../assets/about-astro.png'

import { getAllPosts, sortMDByDate } from '@/utils'

const languages = ['lorem', 'ipsum']
const frontend = ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem', 'ipsum', 'lorem']
const backend = ['lorem', 'ipsum', 'lorem', 'ipsum']
const others = ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem']

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<Image
				src={astro}
				alt='profile photo'
				class='h-28 w-auto rounded-full bg-[#FFBE98] p-2'
				loading='eager'
			/>

			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>Sparsh Devang Palkhiwala</h1>
				<a
					href='https://github.com/Sparsh-Palkhiwala'
					class='flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
				>
					<span class='relative flex items-center justify-center'>
						<span
							class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
						></span>
						<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
					</span>

					<p class='font-medium'>Check out my GitHub</p>
				</a>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label title='Sibi LLC'>
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='h-5 w-5' slot='icon'
							><path
								fill='currentColor'
								d='M4.615 20q-.69 0-1.152-.462Q3 19.075 3 18.385v-9.77q0-.69.463-1.152Q3.925 7 4.615 7H9V5.615q0-.69.463-1.152Q9.925 4 10.615 4h2.77q.69 0 1.153.463q.462.462.462 1.152V7h4.385q.69 0 1.152.463q.463.462.463 1.152v9.77q0 .69-.462 1.152q-.463.463-1.153.463zm0-1h14.77q.23 0 .423-.192q.192-.193.192-.423v-9.77q0-.23-.192-.423Q19.615 8 19.385 8H4.615q-.23 0-.423.192Q4 8.385 4 8.615v9.77q0 .23.192.423q.193.192.423.192M10 7h4V5.615q0-.23-.192-.423Q13.615 5 13.385 5h-2.77q-.23 0-.423.192q-.192.193-.192.423zM4 19V8z'
							></path></svg
						>
					</Label>
					<Label title='Arizona'>
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='h-5 w-5' slot='icon'
							><path
								fill='currentColor'
								d='M12.003 11.73q.668 0 1.14-.475q.472-.475.472-1.143t-.475-1.14q-.476-.472-1.143-.472t-1.14.476q-.472.475-.472 1.143t.475 1.14q.476.472 1.143.472M12 19.677q2.82-2.454 4.458-4.991q1.638-2.538 1.638-4.39q0-2.744-1.737-4.53T12 3.981q-2.621 0-4.359 1.785t-1.737 4.53q0 1.852 1.638 4.39q1.639 2.537 4.458 4.99m0 1.343q-3.525-3.117-5.31-5.814q-1.786-2.697-1.786-4.909q0-3.173 2.066-5.234Q9.037 3 12 3t5.03 2.062q2.066 2.061 2.066 5.234q0 2.212-1.785 4.909q-1.786 2.697-5.311 5.814m0-10.904'
							></path></svg
						>
					</Label>
					<Label
						title='Connect on Linkedin'
						as='a'
						href='https://www.linkedin.com/in/sparsh-palkhiwala/'
						target='_blank'
					>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 16 16'
							slot='icon'
							class='h-5 w-5 text-foreground/75'
							><path
								fill='currentColor'
								d='M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z'
							></path></svg
						>
					</Label>
				</div>
			</div>
		</section>

		<Section title='About'>
			<p class='text-muted-foreground'>
				Hi there! I’m Sparsh, A passionate software developer and Machine Learning Enthusiast from India, a Graduate Student at ASU, pursuing a Masters in Computer Science, who is interested in Machine Learning and Data, and I’m an melomane who’s driven by a curiosity to understand and build the world around me.
				I am interested in meeting new people and discussing new ideas. Feel free a time with me on my <a href="https://calendly.com/spalkhiw">calendly</a>.
			</p>
		</Section>
		<!-- Currently not working on blogs, maybe in future
		{
			allPostsByDate.length > 0 && (
				<Section title='Posts'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		}
		-->	

		<Section title='Experience'>
			<Card
			heading='Software Developer Intern'
			subheading='Sibi LLC'
			date='September 2024 - Present'
			imagePath='/src/assets/about-astro.png'
			altText='Sibi LLC Logo'
			imageClass='h-12 w-auto md:-left-16'
		>
			<ul class='ml-4 list-disc text-muted-foreground'>
				<li>Created a dataset of 100+ Text-to-SQL queries to enhance model evaluation, leading to improvement in model accuracy</li>
				<li>Designed and implemented an evaluation framework for an internal LLM assistant, incorporating new metrics from EvalKit,improving performance and reliance</li>
				<li>Integrated Claude API for Text2SQL evaluation, automating query assessments and enhancing model performance analysis</li>
				<li>Reduced token usage by 70% by implementing PromptAgent optimization to address high token costs.</li>
				<li>Increased system efficiency by automating SQL performance evaluations on Redshift, minimizing debugging time.</li>	
				<li>Developed Agentic workflows to build a research agent and LLM-based decision-making for appliance recommendations</li>
				
			</ul>
		</Card>
		
		<Card
			heading='Software Developer Intern (Machine Learning)'
			subheading='MirWork'
			date='May 2024 - August 2024'
			imagePath='/src/assets/about-astro.png'
			altText='MirWork Logo'
			imageClass='h-12 w-auto md:-left-16'
		>
			<ul class='ml-4 list-disc text-muted-foreground'>
				<li>Engineered and optimized data extraction pipelines using YouTube API to process audio, gathering about 70+ hours of content.</li>
				<li>Designed, implemented, and maintained MongoDB database to efficiently store and manage extensive audio data sets.</li>
				<li>Utilized YouTube data to fine-tune LLM to improve the accuracy and effectiveness of interview assessment tools.</li>
				<li>Implemented speaker Darization techniques for structuring data and enhancing LLM fine-tuning for interview assessments.</li>
			</ul>
		</Card>
		
		<Card
			heading='Software Developer'
			subheading='Psych for Life'
			date='March 2023 - July 2023'
			imagePath='/src/assets/about-astro.png'
			altText='Psych for Life Logo'
			imageClass='h-12 w-auto md:-left-16'
		>
			<ul class='ml-4 list-disc text-muted-foreground'>
				<li>Migrated web app from NPM to PNPM, cutting build times and boosting reliability with efficient dependency linking and content-addressable storage.</li>
				<li>Achieved 80% reduction in research time by utilizing Prompt Engineering for enhanced efficiency.</li>
				<li>Enhanced content management systems by fixing bugs and integrating transcript functionality into the dashboard for streamlined content updates.</li>
				<li>Leading integration of AI into the writing process for enhanced efficiency, resulting in a streamlined timeframe.</li>
				<li>Orchestrated the development and implementation of custom prompt engineering solutions, resulting in a 50% reduction in process cycle time and a 30% increase in team productivity.</li>
				<li>Conducted research, literature reviews, data analysis, and fact-checking for 65+ scientific documents.</li>
				<li>Implemented version control, conducted unit testing, and resolved platform bugs in TypeScript, ensuring code stability.</li>
				<li>Led collaboration with Luminosity Labs for platform development, which streamlined operations and enhanced communication</li>
				<li>Employed caching techniques, resulting in a reduction in 70% decrease in rendering delay and improving website performance</li>
				<li>Migrated from NPM to PNPM, reducing package install time by 40% improving dependency management and build reliability.</li>
			</ul>
		</Card>
		
		<Card
			heading='Software Developer Intern (Computer Vision)'
			subheading='eInfochips (An ARROW Company)'
			date='Jan 2023 – June 2023'
			imagePath='/src/assets/about-astro.png'
			altText='eInfochips Logo'
			imageClass='h-12 w-auto md:-left-16'
		>
			<ul class='ml-4 list-disc text-muted-foreground'>
				<li>Led a team of 3 to develop a real-time vehicle detection system for visually impaired individuals, achieving 65.4% average precision and 70.7% for car detection using YOLOv5.</li>
				<li>Achieved an 86.5% reduction in resource usage by filter pruning algorithm while maintaining a mean precision of 42%.</li>
				<li>Computed CNN models on 16,000 image datasets for vehicle detection, designed to aid visually impaired individuals.</li>
				<li>Enhanced real-time safety detection in YOLO by implementing Safety Detection Algorithm, achieving a 25 fps detection rate.</li>
				<li>Applied precision-focused strategies and fine-tuned the model using Indian traffic data to enhance accuracy in detecting vehicles within specific environmental conditions.</li>
				<li>Collaborated with engineers to streamline training processes, document methodologies, and advance computer vision technology for traffic surveillance and safety applications.</li>
			</ul>
		</Card>

		<Card
		heading='Software Developer Intern'
		subheading='Oxvi Respire Solutions Ltd.'
		date='May 2022 – July 2022'
		imagePath='/src/assets/about-astro.png'
		altText='Oxvi Respire Solutions Ltd. Logo'
		imageClass='h-12 w-auto md:-left-16'
	>
		<ul class='ml-4 list-disc text-muted-foreground'>	
			<li>Developed an Android app to plot real-time values from a prototype ventilator with live Data Visualization.</li>
			<li>Integrated Firebase for real-time communication, enabling data transmission between the device and application.</li>
			<li>Implemented communication protocols to embedded C components in the prototype for data exchange within a 5ms lag.</li>

		</ul>
	</Card>
		
		</Section>

		<Section title='Education'>
			<Card
				heading='Lorem Ipsum'
				subheading='Sit amet consectetur'
				date='Dec 2022 - Nov 2023'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
						molestiae laboriosam pariatur!

						<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
					</li>
				</ul>
			</Card>
			<Card
				heading='Lorem Ipsum'
				subheading='Sit amet consectetur'
				date='Dec 2022 - Nov 2023'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-12 w-auto md:-left-16'
			/>
		</Section>

		<Section title='Projects'>
			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					href='https://www.google.com'
					heading='Consectetur'
					subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit.'
					imagePath='/src/assets/coming-soon.png'
					altText='Example'
					class='w-full sm:w-1/2'
				/>
				<ProjectCard
					as='div'
					heading='Coming soon...'
					subheading=''
					imagePath='/src/assets/coming-soon.png'
					altText='Lorem, ipsum dolor sit'
					class='w-full sm:w-1/2'
				/>
			</div>
		</Section>

		<Section title='Certifications'>
			<Card
				as='a'
				heading='Lorem ipsum, dolor sit amet consectetur adipisicing.'
				subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta magni consequuntur corrupti.'
				date='Mar 2024 - Mar 2024'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.google.com'
			/>
			<Card
				as='a'
				heading='Lorem ipsum, dolor sit amet'
				subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta.'
				date='Mar 2029 - Mar 2032'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-11 w-auto md:-left-16'
				href='https://www.google.com'
			/>
		</Section>

		<Section title='Skills'>
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Frontend' skills={frontend} />
			<SkillLayout title='Backend' skills={backend} />
			<SkillLayout title='Others' skills={others} />
		</Section>
	</div>
	<a
		href='https://github.com/srleom/astro-theme-resume.git'
		class='mt-16 flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
	>
		<span class='relative flex items-center justify-center'>
			<span
				class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
			></span>
			<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
		</span>

		<p class='font-medium'>Get free template</p>
	</a>
</PageLayout>
